.components-container {
  margin: 25px;
}

.focused-input-container {
  width: 350px;
  margin: 0 auto;
}

input {
  margin: 25px;
}

.posts-container, .scroll-container {
  width: 400px;
  margin: 0 auto;
}

.scroll-container {
  margin-top: 50px;
}

.first-post, .second-post, .third-post, .fourth-post, .fifth-post, .sixth-post {
  border: 2px solid cadetblue;
  margin-bottom: 20px;
}

.text-block {
  height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}