.library {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.library__form-addBook,
.library__form-addUser {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.library__form-addBook > p,
.library__form-addUser > p {
    margin: 0;
}

.forms-container,
.lists-container {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 100%;
    justify-content: space-around;
}

.forms-container {
    margin-bottom: 25px;
}

form > button {
    padding: 5px 10px;
}

.green-button {
    background-color: forestgreen;
    color: bisque;
    grid-column: 1/3;
}

.red-button {
    background-color: darkred;
    color: bisque;
}
