.loadingIndicator {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loadingIndicator::before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid;
  border-color: #3d5dc7 transparent #3d5dc7 transparent;
  animation: loadingIndicatorRotation linear;
}

@keyframes loadingIndicatorRotation {
  0% {
    transform: rotate(0deg);
  } 
  100% {
    transform: rotate(360deg);
  }
}